<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covtrack </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://demo.themefisher.com/covtrack/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="https://demo.themefisher.com/covtrack/css/style.css">
</head>

<body>

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="index.html"><img src="https://demo.themefisher.com/covtrack/images/logo.png" alt="">
                                <span>Covtrack</span></a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav" hidden>
                                    <li class="nav-item">
                                        <span><i class="fas fa-tachometer-alt"></i></span>
                                        <a class="nav-link" href="index.html"> Dashboard </a>
                                    </li>
                                    <li class="nav-item">
                                        <span><i class="fas fa-layer-group"></i></span>
                                        <a class="nav-link" href="widgets.html">Widget</a>
                                    </li>
                                    <li class="nav-item">
                                        <span><i class="fas fa-chart-area"></i></span>
                                        <a class="nav-link" href="charts.html">Charts</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <span><i class="fas fa-globe-europe"></i></span>
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                            Continent
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="https://demo.themefisher.com/covtrack/world.html">World</a>
                                            <a class="dropdown-item" href="https://demo.themefisher.com/covtrack/asia.html">Asia</a>
                                            <a class="dropdown-item" href="https://demo.themefisher.com/covtrack/europe.html">Europe</a>
                                            <a class="dropdown-item" href="https://demo.themefisher.com/covtrack/africa.html">Africa</a>
                                            <a class="dropdown-item" href="https://demo.themefisher.com/covtrack/australia.html">Australia</a>
                                            <a class="dropdown-item" href="https://demo.themefisher.com/covtrack/south-america.html">South America</a>
                                            <a class="dropdown-item" href="https://demo.themefisher.com/covtrack/north-america.html">North America</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <form>
                            <div class="form-group">
                                <label for="sel1"></label>
                                <select class="form-control" id="country" name="country">
                    <option value="Afganistan">Afghanistan</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Belize">Belize</option>
                    <option value="Benin">Benin</option>
                    <option value="Bermuda">Bermuda</option>
                    <option value="Bhutan">Bhutan</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Bonaire">Bonaire</option>
                    <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Brazil">Brazil</option>
                    <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                    <option value="Brunei">Brunei</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Canada">Canada</option>
                    <option value="Canary Islands">Canary Islands</option>
                    <option value="Cape Verde">Cape Verde</option>
                    <option value="Cayman Islands">Cayman Islands</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Chad">Chad</option>
                    <option value="Channel Islands">Channel Islands</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Christmas Island">Christmas Island</option>
                    <option value="Cocos Island">Cocos Island</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Congo">Congo</option>
                    <option value="Cook Islands">Cook Islands</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Cote DIvoire">Cote DIvoire</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Curaco">Curacao</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czech Republic">Czech Republic</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Dominican Republic">Dominican Republic</option>
                    <option value="East Timor">East Timor</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt">Egypt</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                    <option value="Eritrea">Eritrea</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Falkland Islands">Falkland Islands</option>
                    <option value="Faroe Islands">Faroe Islands</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="French Guiana">French Guiana</option>
                    <option value="French Polynesia">French Polynesia</option>
                    <option value="French Southern Ter">French Southern Ter</option>
                    <option value="Gabon">Gabon</option>
                    <option value="Gambia">Gambia</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Germany">Germany</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Great Britain">Great Britain</option>
                    <option value="Greece">Greece</option>
                    <option value="Greenland">Greenland</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Guadeloupe">Guadeloupe</option>
                    <option value="Guam">Guam</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Guyana">Guyana</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Iceland">Iceland</option>
                    <option value="Indonesia">Indonesia</option>
                    <option selected value="India">India</option>
                    <option value="Iran">Iran</option>
                    <option value="Iraq">Iraq</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Isle of Man">Isle of Man</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Japan">Japan</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="Korea North">Korea North</option>
                    <option value="Korea Sout">Korea South</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                    <option value="Laos">Laos</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Liberia">Liberia</option>
                    <option value="Libya">Libya</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macau">Macau</option>
                    <option value="Macedonia">Macedonia</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Mali">Mali</option>
                    <option value="Malta">Malta</option>
                    <option value="Marshall Islands">Marshall Islands</option>
                    <option value="Martinique">Martinique</option>
                    <option value="Mauritania">Mauritania</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mayotte">Mayotte</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Midway Islands">Midway Islands</option>
                    <option value="Moldova">Moldova</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Mongolia">Mongolia</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Nambia">Nambia</option>
                    <option value="Nauru">Nauru</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Netherland Antilles">Netherland Antilles</option>
                    <option value="Netherlands">Netherlands (Holland, Europe)</option>
                    <option value="Nevis">Nevis</option>
                    <option value="New Caledonia">New Caledonia</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Niger">Niger</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Niue">Niue</option>
                    <option value="Norfolk Island">Norfolk Island</option>
                    <option value="Norway">Norway</option>
                    <option value="Oman">Oman</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Palau Island">Palau Island</option>
                    <option value="Palestine">Palestine</option>
                    <option value="Panama">Panama</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Peru</option>
                    <option value="Phillipines">Philippines</option>
                    <option value="Pitcairn Island">Pitcairn Island</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Republic of Montenegro">Republic of Montenegro</option>
                    <option value="Republic of Serbia">Republic of Serbia</option>
                    <option value="Reunion">Reunion</option>
                    <option value="Romania">Romania</option>
                    <option value="Russia">Russia</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="St Barthelemy">St Barthelemy</option>
                    <option value="St Eustatius">St Eustatius</option>
                    <option value="St Helena">St Helena</option>
                    <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                    <option value="St Lucia">St Lucia</option>
                    <option value="St Maarten">St Maarten</option>
                    <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                    <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                    <option value="Saipan">Saipan</option>
                    <option value="Samoa">Samoa</option>
                    <option value="Samoa American">Samoa American</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Somalia">Somalia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Spain">Spain</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Swaziland">Swaziland</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Syria">Syria</option>
                    <option value="Tahiti">Tahiti</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Tanzania">Tanzania</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Togo">Togo</option>
                    <option value="Tokelau">Tokelau</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Uganda">Uganda</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Erimates">United Arab Emirates</option>
                    <option value="United States of America">United States of America</option>
                    <option value="Uraguay">Uruguay</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="Vatican City State">Vatican City State</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                    <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                    <option value="Wake Island">Wake Island</option>
                    <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                    <option value="Yemen">Yemen</option>
                    <option value="Zaire">Zaire</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                 </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body" id="result">
            <!-- <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3 update-time">
                            <span class="stats-taken mr-2">Last Update: </span>
                            <strong id="stat-taken" class="text-primary"></strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-12">
                        <div class="world-statistics">
                            <div class="row align-items-center">
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-widget">
                                        <div class="icon gradient-1">
                                            <i class="fas fa-users"></i>
                                        </div>
                                        <div>
                                            <h5>Total Cases</h5>
                                            <h2 id="total_cases"></h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-widget">
                                        <div class="icon gradient-9">
                                            <i class="fas fa-procedures"></i>
                                        </div>
                                        <div>
                                            <h5>Total Death</h5>
                                            <h2 id="total_deaths"></h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-widget">
                                        <div class="icon gradient-4">
                                            <i class="fas fa-child"></i>
                                        </div>
                                        <div>
                                            <h5>Total Recovered</h5>
                                            <h2 id="total_recovered"></h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-widget">
                                        <div class="icon gradient-3">
                                            <i class="fas fa-bell"></i>
                                        </div>
                                        <div>
                                            <h5>New Cases</h5>
                                            <h2 id="new_cases"></h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-widget">
                                        <div class="icon gradient-12">
                                            <i class="fas fa-bed"></i>
                                        </div>
                                        <div>
                                            <h5>New Death</h5>
                                            <h2 id="new_deaths"></h2>
                                        </div>
                                    </div>
                                    <div class="world-widget">
                                        <div class="icon gradient-5">
                                            <i class="fas fa-medkit"></i>
                                        </div>
                                        <div>
                                            <h5>Helpline</h5>
                                            <h2>999</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-chart mt-3">
                                        <canvas id="coronaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="world-map">
                            <div class="card">
                                <div class="card-body">
                                    <div id="flag"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="footer">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="copy_right">
                            Copyright © 2020 Quixlab. All Rights Reserved.
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 text-lg-right text-center">
                        <div class="social">
                            <a href="https://www.youtube.com/channel/UChN1goECpg64jlUxSzySiNg?view_as=subscriber"><i
                                    class="fab fa-youtube"></i></a>
                            <a href="https://twitter.com/quixlab"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/qxlab"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-right">
        <a class="sidebar-right-trigger" href="javascript:void(0)">
            <span><i class="fa fa-cog fa-spin"></i></span>
        </a>
        <div class="sidebar-right-inner">
            <div class="admin-settings">
                <div class="opt-header-color">
                    <p>Background Color</p>
                    <div>
                        <span>
                            <input type="radio" name="header_bg" value="color_1" class="filled-in chk-col-primary"
                                id="header_color_1">
                            <label for="header_color_1"></label>
                        </span>
                        <span>
                            <input type="radio" name="header_bg" value="color_2" class="filled-in chk-col-primary"
                                id="header_color_2">
                            <label for="header_color_2"></label>
                        </span>
                        <span>
                            <input type="radio" name="header_bg" value="color_3" class="filled-in chk-col-primary"
                                id="header_color_3">
                            <label for="header_color_3"></label>
                        </span>
                        <span>
                            <input type="radio" name="header_bg" value="color_4" class="filled-in chk-col-primary"
                                id="header_color_4">
                            <label for="header_color_4"></label>
                        </span>
                        <span>
                            <input type="radio" name="header_bg" value="color_5" class="filled-in chk-col-primary"
                                id="header_color_5">
                            <label for="header_color_5"></label>
                        </span>
                        <span>
                            <input type="radio" name="header_bg" value="color_6" class="filled-in chk-col-primary"
                                id="header_color_6">
                            <label for="header_color_6"></label>
                        </span>
                    </div>
                </div>
                <div>
                    <p>Direction</p>
                    <select class="form-control" name="theme_direction" id="theme_direction">
                        <option value="ltr">LTR</option>
                        <option value="rtl">RTL</option>
                    </select>
                </div>
            </div>
        </div>
    </div>



    <script src="https://demo.themefisher.com/covtrack/vendor/jquery/jquery.min.js"></script>
    <script src="https://demo.themefisher.com/covtrack/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://demo.themefisher.com/covtrack/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script src='https://demo.themefisher.com/covtrack/vendor/fixed-header-table/jquery.fixedheadertable.min.js'></script>
    <script src="https://demo.themefisher.com/covtrack/js/plugins/fixedheadertable-init.js"></script>
    <script src='https://demo.themefisher.com/covtrack/vendor/chartjs/Chart.bundle.min.js'></script>


    <script src="https://demo.themefisher.com/covtrack/vendor/vectormap/jquery.vmap.min.js"></script>
    <script src="https://demo.themefisher.com/covtrack/vendor/vectormap/jquery.vmap.world.js"></script>

    <script src="https://demo.themefisher.com/covtrack/js/world/vectormap-world.js"></script>

    <script src="https://demo.themefisher.com/covtrack/vendor/datatable/jquery.dataTables.min.js"></script>
    <script src="https://demo.themefisher.com/covtrack/js/world/datatable.js"></script>

    <script src="https://demo.themefisher.com/covtrack/js/world/dashboard.js"></script>
    <script src="https://demo.themefisher.com/covtrack/js/world/chart.js"></script>
    <script src="https://demo.themefisher.com/covtrack/js/scripts.js"></script>

    <script src="https://demo.themefisher.com/covtrack/js/settings.js"></script>
    <script src="https://demo.themefisher.com/covtrack/js/quixnav-init.js"></script>
    <script src="https://demo.themefisher.com/covtrack/js/styleSwitcher.js"></script>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {


        getcoviddata("India")


        $("#country").change(function() {
            var selectedCountry = $(this).children("option:selected").val();

            getcoviddata(selectedCountry)


        });
    });

    function getcoviddata(selectedCountry) {
        $.ajax({
            url: '/getdata',
            method: 'POST',
            data: {
                country: selectedCountry
            },
            success: function(data) {
                console.log(data.data.countryName)

                var table = `
                    <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3 update-time">
                            <span class="stats-taken mr-2">Last Update: ${data.data.updatedDate}</span>
                            <strong id="stat-taken" class="text-primary"></strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-12">
                        <div class="world-statistics">
                            <div class="row align-items-center">
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-widget">
                                        <div class="icon gradient-1">
                                            <i class="fas fa-users"></i>
                                        </div>
                                        <div>
                                            <h5>Total Cases</h5>
                                            <h2 id="total_cases">${data.data.cases}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-widget">
                                        <div class="icon gradient-9">
                                            <i class="fas fa-procedures"></i>
                                        </div>
                                        <div>
                                            <h5>Total Death</h5>
                                            <h2 id="total_deaths">${data.data.deaths}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-widget">
                                        <div class="icon gradient-4">
                                            <i class="fas fa-child"></i>
                                        </div>
                                        <div>
                                            <h5>Total Recovered</h5>
                                            <h2 id="total_recovered">${data.data.recovered}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-widget">
                                        <div class="icon gradient-3">
                                            <i class="fas fa-bell"></i>
                                        </div>
                                        <div>
                                            <h5>New Cases</h5>
                                            <h2 id="new_cases">${data.data.todayCases}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-widget">
                                        <div class="icon gradient-12">
                                            <i class="fas fa-bed"></i>
                                        </div>
                                        <div>
                                            <h5>New Death</h5>
                                            <h2 id="new_deaths">${data.data.todayDeaths}</h2>
                                        </div>
                                    </div>
                                    <div class="world-widget">
                                        <div class="icon gradient-5">
                                            <i class="fas fa-medkit"></i>
                                        </div>
                                        <div>
                                            <h5>Helpline</h5>
                                            <h2>999</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col">
                                    <div class="world-chart mt-3">
                                        <canvas id="coronaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="world-map">
                            <div class="card">
                                <div class="card-body">
                                    <img src=${data.data.countryFlag}></img>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    `
                $("#result").html(table)
            }
        })
    }
</script>

</html>